@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Lora&family=Montserrat&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Libre Franklin", sans-serif;
    background-color: #2D2926;
    color: #F4F9E9;
    font-size: 1.6rem;
  }

  /* Logo & Header*/
#logo {
    width: min(max(2rem, 7vw), 8rem);
    height: auto;
    margin-left: 0;
    padding: 0;
}

#main-header {
    font-family: "Montserrat", sans-serif;
    font-size: min(max(2rem, 7vw), 8rem);
    font-weight: 900;
    text-align: center;
    padding: 0;
}

/* Intro Text */

#intro-text {
    font-size: 2.5rem;
    text-align: center;
}

/* Hero Images */

.hero-imgs {
    background-image: url(../images/container-yard.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 30vh; 
}

#hero-img-index {
    background-image: url(../images/container-yard.jpg);
}

#hero-img-routes {
    background-image: url(../images/night-vessel.jpg);
}

#hero-img-mug {
    background-image: url(../images/coffee-mug.jpg);
}

#hero-img-news {
    background-image: url(../images/news.jpg);
}


/* Floating Action Button */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
 }

#main-btn-lock,
#main-btn-unlock {
    font-size: min(max(7rem, 8vw), 10rem);
}
 
#main-btn-unlock {
    display: none;
    transform: scale(1.3);
    color: #ed665a;
}

.sub-btns {
    font-size: min(max(3rem, 2vw), 5rem);
    align-self: center;
    display: none;
}

#main-btn-lock:hover, #main-btn-lock:active,
.sub-btns:hover, .sub-btns:active {
    cursor: pointer;
    transform: scale(1.3);
    color: #ed665a;
}

.hide {
    display: none;
}

.float {
    position: fixed;
    right: 8vw;
    bottom: 3vh;
    z-index: 999;
}

/* Buttons */
.btn {
    font-size: min(max(1.6rem, 2vw), 2rem);
    color: #F4F9E9;
    font-weight: 900;
    text-transform: uppercase;
}

.btn:hover, .btn:active {
    cursor: pointer;
    color: #ed665a;
}

.ci-btns {
    background-color: #2D2926;
    border-radius: 5%;
    border: solid 0.2rem #ed665a; 
}


/* Route Estimated Transit Time */

.dropdown-box {
    margin-top: 1rem;
    background-color: #ed665a;
    font-size: min(max(1.6rem, 2vw), 2rem);
    font-weight: 900;
}


/* Unit Conversion section */


.card-header {
    border-left: solid 2vw #ed665a;
}

.shipmonths,
.incoterms {
    width: 75%;
    max-width: 768px;
    cursor: pointer;
    background-color: inherit;
    color: #F4F9E9;
    text-align: center;
    border: solid 1px #ed665a;
}

.shipmonths:hover, .shipmonths:active, .shipmonths:focus,
.incoterms:hover, .incoterms:active, .incoterms:focus {
    cursor: pointer;
    background-color: #ed665a;    
}


/* Contact Form */

#contact-form {
    text-align: -webkit-center;
}

.form-control {
    font-size: inherit;
}

/* Overview */
#overview {
    color: #2D2926;
    font-weight: 900;
    font-size: min(max(1.6rem, 2vw), 2rem);
}

#my-overview {
    color: #2D2926;
}

textarea {
    width: 100%;
    height: auto;
}

/* Footer */

#footer-container {
    padding: 1rem 5rem;
}

.social-links{
    color: #ed665a;
    margin: 1.6rem;
    font-size: 2rem;
}

#copyright {
    font-size: 1rem;
}
