@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Lora&family=Montserrat&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-family: "Libre Franklin", sans-serif;
    background-color: #F4F9E9;
    font-size: 1.6rem;
  }

  /* Logo & Header*/
#logo {
    width: min(max(2rem, 7vw), 8rem);
    height: auto;
    margin-left: 0;
    padding: 0;
}

#main-header {
    font-family: "Montserrat", sans-serif;
    font-size: min(max(2rem, 7vw), 8rem);
    font-weight: 900;
    text-align: center;
    padding: 0;
}

/* Footer */
#footer {
}

#footer-container {
    position: fixed;
    margin: 0;
    bottom: 0;
    padding: 1rem 5rem;
}